@import "../../assets/styles/variables";

.my-input {
  padding: 20px 0;
  @include sm {
    padding: 15px 0;
  }
}

.my-input__label {
  display: inline-block;
  margin-bottom: 20px;
}

.my-input__input {
  appearance: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background-color: #f4f5f8;
  border: 1px solid #c4c6d2;
  border-radius: 25px;
  box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.4);
  transition: border-color 0.2s ease-out;
  &:hover {
    border-color: $color-dark;
  }
  &:focus {
    outline: none;
    border-color: #00c3ff;
  }
  &::placeholder {
    opacity: 0.5;
  }
  &.password {
    padding-right: 70px;
  }
  &.error {
    border-color: $color-red;
  }
}

.my-input__input-wrap {
  position: relative;
}

.my-input__error-text {
  margin-top: 5px;
  color: $color-red;
}

.my-input__show-password {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 20px !important;
  padding-left: 20px !important;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  &:hover,
  &:focus {
    opacity: 1;
  }
}
