@import "../../../assets/styles/variables";

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  text-align: center;
  margin-bottom: 50px;
}

.modal-pin {
  font-size: 60px;
  letter-spacing: 0.4em;
  margin-right: -0.6em;
  @include xs {
    font-size: 52px;
    letter-spacing: 0.2em;
    margin-right: -0.2em;
  }
}

.modal__inputs-wrap {
  max-width: 400px;
  width: 100%;
}

.modal__submit-btn {
  margin-top: 30px;
  width: 240px;
  @include xs {
    width: 100%;
  }
}

.modal-card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 35px 0;
  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.modal-card-text {
  @include xs {
    margin-top: 20px;
  }
}
