.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-general {
  position: absolute;
  background-color: #f4f5f8;
}

.loader-transparent {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
}
