@import "../../../../assets/styles/variables";

.setting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #c4c6d2;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.2s ease-out;
  @include xl {
    width: 30px;
    height: 30px;
  }
  &:focus,
  &:hover {
    outline: none;
    border-color: $color-dark;
    .setting {
      fill: $color-dark;
    }
  }
}

.setting {
  fill: #c4c5d1;
  transition: fill 0.2s ease-out;
}
