@import "../../../../assets/styles/variables";

.card-trigger-inner {
  width: calc(100% - 190px);
  //@include xl {
  //  width: auto;
  //}
  //@include md {
  //  width: calc(100% - 190px);
  //}
  @include sm {
    width: auto;
  }
}

.card-content-inner {
  margin-top: 30px;
}

.card-content__title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-content__title-btn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
}

.trigger {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  //@include xl {
  //  flex-direction: column;
  //  align-items: flex-start;
  //}
  //@include md {
  //  flex-direction: row;
  //  align-items: center;
  //}
}

.trigger__logo {
  margin-right: 60px;
  @include xxl {
    margin-right: 35px;
  }
  @include xl {
    margin-right: 20px;
  }
  @include lg {
    margin-bottom: 15px;
  }
  //@include lg {
  //  margin-right: 25px;
  //}
  //@include xl {
  //  margin-right: 0;
  //  margin-bottom: 15px;
  //}
  @include md {
    margin-bottom: 0;
  }
  @include sm {
    width: 70px;
  }
  @include xs {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
  }
}

.trigger__price-wrap {
  display: flex;
  align-items: center;
}

.trigger__graph-img {
  margin-left: 20px;
}

.trigger__btn-wrap {
  position: absolute;
  top: 50px;
  right: 25px;
  margin-left: auto;
  @include sm {
    display: none;
  }
}

.trigger__title {
  margin-bottom: 10px;
  @include xs {
    margin-bottom: 5px;
  }
}

.card-content__grahp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 10px;
}

.trigger__address-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
}

.trigger__address__btns-wrap {
  display: inline-flex;
  margin-left: auto;
}

.trigger__address__btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: auto;
  padding: 5px 15px;
}
