@import "../../assets/styles/variables";

.modal {
  position: relative;
  max-width: 800px;
  max-height: 90vh;
  width: 90%;
  overflow: auto;
  box-shadow: $box-shadow;
  border-radius: 25px;
  background-color: #f4f5f8;
  border: 1px solid #c4c6d2;
  padding: 80px;
  @include xs {
    padding: 40px 25px;
  }
  &:focus {
    outline: none;
  }
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
}
