@import "../../assets/styles/variables";

.add-button {
  padding: 50px;
  width: 100%;
  background-color: #f4f5f8;
  border-radius: 16px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  @include sm {
    margin-bottom: 35px;
  }
  &__plus {
    font-size: 80px;
    color: $color-blue;
  }
  &__text {
    font-size: 30px;
    color: $color-red;
  }
}
