@import "../../../../assets/styles/variables";

.wallet-card {
  &.loading {
    height: 226px;
  }
}

.wallet__other-cards-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  @include xs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &:nth-child(odd) {
    background-color: #fff;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 100px;
    }
    &:before {
      left: 0;
      transform: translateX(-100%);
    }
    &:after {
      right: 0;
      transform: translateX(100%);
    }
    .wallet__other-cards-item__card {
      background-color: #2a96ff;
      background-image: linear-gradient(45deg, #f27d57 0%, #f32264 100%);
      box-shadow: 0 9px 24px rgba(255, 99, 99, 0.64);
    }
  }
  &:nth-child(even) {
    .wallet__other-cards-item__card {
      background-color: #2a96ff;
      background-image: linear-gradient(45deg, #f4b639 0%, #ff8400 100%);
      box-shadow: 0 9px 24px rgba(253, 141, 11, 0.64);
    }
  }
}

.wallet__other-cards-item__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 64px;
  margin-right: 25px;
  border-radius: 8px;
  color: #fff;
}

.wallet__other-cards-item__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include lg {
    flex-direction: column;
    align-items: flex-start;
  }
  @include md {
    flex-direction: row;
  }
  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.wallet__other-cards-item__btn {
  margin-left: auto;
  @include xs {
    margin: 10px auto;
  }
}

.wallet__other-cards-item-title {
  margin-bottom: 10px;
}
