@import "../../assets/styles/variables";

.file {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include md {
    flex-direction: column;
  }
}

.file__btn-wrap {
  margin-right: 30px;
  @include md {
    width: 100%;
    margin-right: 0;
  }
}

.file__text {
  text-decoration: underline;
  margin: 15px 0;
  @include md {
    margin-bottom: 0;
  }
  @include sm {
    text-align: center;
  }
}

.file__preview-wrap {
  position: relative;
  margin-top: 30px;
  width: 50%;
  transition: opacity 0.2s ease-out;
  &:hover {
    .file__preview-wrap__close {
      opacity: 0.7;
    }
  }
  @include md {
    margin-left: auto;
    margin-right: auto;
  }
  @include xs {
    width: 100%;
    max-width: 255px;
  }
}

.file__preview-img-wrap {
  max-height: 300px;
  overflow-y: auto;
}

.file__preview-wrap__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff !important;
  border-radius: 4px;
  padding: 5px !important;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1 !important;
  }
  @include lg {
    opacity: 1 !important;
  }
}
