@import "../../assets/styles/variables";

@mixin size($width) {
  width: #{$width}px;
  height: #{$width / 1.58}px;
}

.my-card {
  position: relative;
  background-color: #2a96ff;
  background-image: linear-gradient(45deg, #7bd2ff 0%, #2a96ff 100%);
  border-radius: 16px;
  box-shadow: $box-shadow-2;
  &.md {
    @include size(256);
    //@include xl {
    //  @include size(316);
    //}
    //@include md {
    //  @include size(256);
    //}
    @include xs {
      @include size(250);
    }
  }
  &.xs {
    @include size(205);
  }
}

.my-card__number {
  position: absolute;
  left: 20px;
  top: 25px;
  color: #ffffff;
}

.my-card__name {
  position: absolute;
  left: 20px;
  bottom: 25px;
  color: #ffffff;
}

.my-card__type {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 35px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
}
