@import "../../assets/styles/variables";

.c-logo {
  display: inline-block;
  @include xl {
    width: 165px;
  }
  @include sm {
    width: 180px;
  }
  @include xs {
    width: 110px;
  }
  &:focus {
    outline: none;
  }
}
