@import "../../../../assets/styles/variables";

.toggle-menu {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  z-index: 10000;
  transform: translateY(-105%);
  padding: 35px 25px;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  box-shadow: $box-shadow;
  transition: transform 0.4s ease-in-out;
  &.active {
    transform: none;
  }
}

.toggle-menu__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.toggle-menu__list {
  text-align: center;
}

.toggle-menu__list-item {
  &.active {
    color: $color-grey;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
