@import "../../../../assets/styles/variables";

.auth-main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(0, 195, 255, 1) 0%,
    rgba(0, 56, 147, 1) 100%
  );
}

.auth-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.auth-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.auth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 955px;
  padding: 50px;
  background-color: #f4f5f8;
  border: 1px solid #232c40;
  border-radius: 25px;
  box-shadow: $box-shadow;
  @include xs {
    padding: 20px;
  }
}

.auth-form-wrap {
  max-width: 630px;
  width: 100%;
}

.auth-submit-wrap {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.auth-submit-btn {
  width: 240px;
  @include xs {
    width: 100%;
  }
}

.auth-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -25px;
  @include xs {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.auth-links__item {
  text-decoration: underline;
  margin: 10px 25px;
  transition: color 0.2s ease-out;
  @include xs {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  &:hover {
    color: $color-dark;
  }
}
