@import "../../assets/styles/variables";

.copy-wrap {
  display: inline-flex;
  align-items: center;
}

.copy-value {
  //min-width: 294px;
  width: calc(100% - 25px);
  word-break: break-word;
  @include sm {
    min-width: 196px;
  }
}

.copy-btn-wrap {
  position: relative;
  margin-left: 10px;
}

.copy-btn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
}

.copy-done-text {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  opacity: 0;
  padding: 8px 21px;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translate(50%, 100%);
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  visibility: hidden;
  z-index: 999;
  color: #fff;
  background: #222;
  border: 1px solid transparent;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  &:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -8px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 8px solid transparent;
  }
  &:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
  }
  &.active {
    opacity: 0.9;
    visibility: visible;
  }
}
