@import "../../assets/styles/variables";

.wallet-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-heading-name {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
  @include xl {
    font-size: 30px;
  }
}

.wallet-table-wrap {
  margin-top: 30px;
}

.wallet-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wallet-table-title {
  margin-bottom: 10px;
}

.wallet-table-no-item {
  padding: 10px 0;
}

.wallet-table-item {
  padding: 10px 0 !important;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
  border-bottom: 1px solid grey !important;
  word-break: break-word;
  &:hover {
    opacity: 1;
  }
}

.wallet-modal-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.wallet-modal-value {
  margin-left: 10px;
  word-break: break-word;
}

.wallet-modal-value--2-level {
  flex-basis: 100%;
}

.wallet-modal-value--2-level-row {
  margin-left: 10px;
  margin-bottom: 10px;
}

.wallet-table-wrap {
  .react-tabs__tab-list {
    border-bottom: none;
  }
  .react-tabs__tab {
    border: none;
    background-color: transparent;
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
    &:hover {
      opacity: 1;
    }
    &--selected {
      opacity: 1;
      border-bottom: 2px solid $color-blue;
    }
  }
}
