@import "../../assets/styles/variables";

.dropdown-content {
  padding: 45px 30px 20px;
  max-width: 400px;
  background-color: #f4f5f8;
  border: 1px solid #c4c6d2;
  border-radius: 25px;
  box-shadow: $box-shadow;
  @include xs {
    max-width: 300px;
  }
}

.dropdown-content-item-btn {
  padding: 20px 0 !important;
  cursor: pointer;
  color: $color-grey;
  transition: color 0.2s ease-out;
  &:hover {
    color: $color-dark;
  }
}

.dropdown-content-item-text {
  padding: 20px 0;
}

.dropdown-content__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
}
