@import "../../assets/styles/variables";

/* =============================== DASHBOARD =============================== */

.dashboard-title-wrap {
  display: flex;
  align-items: center;
  @include sm {
    margin-bottom: 25px;
  }
}

.dashboard-title {
  margin-right: 30px;
  @include sm {
    display: none;
  }
}

.dashboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include md {
    flex-direction: column;
  }
}

.dashboard-col-left {
  width: 50%;
  @include xl {
    width: 48.7%;
  }
  @include md {
    width: 100%;
  }
}

.dashboard-col-right {
  width: 44%;
  @include xl {
    width: 48.7%;
  }
  @include md {
    width: 100%;
  }
}

/* =============================== CARD =============================== */

.card-wrap {
  margin-top: 60px;
  @include xl {
    margin-top: 40px;
  }
  @include sm {
    margin-top: 30px;
  }
  &:first-child {
    @include sm {
      margin-top: 0;
    }
  }
}

.card-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  min-height: 50px;
  @include xl {
    margin-bottom: 20px;
  }
  @include sm {
    min-height: auto;
  }
}

.card {
  position: relative;
  margin-bottom: 35px;
  padding: 50px;
  background-color: #f4f5f8;
  border-radius: 16px;
  box-shadow: $box-shadow;
  overflow: hidden;
  @include xxl {
    padding-left: 25px;
    padding-right: 25px;
  }
  @include xl {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include sm {
    padding: 20px;
    margin-bottom: 25px;
  }
  &--balance {
    overflow: visible;
  }
  &--no-padding {
    position: relative;
    padding: 0;
  }
  &--trigger {
    overflow: visible;
    padding: 25px;
    @include sm {
      padding: 20px;
    }
    @include xs {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &--my-card {
    padding-bottom: 0;
  }
  &--table {
    padding: 0 0 30px;
    @include xl {
      overflow-x: auto;
    }
  }
}
