@import "../../assets/styles/variables";

.button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 37px;
  padding-right: 37px;
  height: 50px;
  background-color: $color-blue;
  border-radius: 25px;
  border: none;
  box-shadow: $box-shadow-2;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: $color-dark;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    transform: translateY(10px);
  }
}

.button-qr {
  background-color: $color-white;
  color: $color-blue;
  box-shadow: none;
  .qr {
    fill: $color-blue;
  }
  &:hover {
    color: #fff;
    .qr {
      fill: #fff;
    }
  }
  &:focus,
  &.active {
    transform: none;
    background-color: $color-blue;
    color: #fff;
    box-shadow: $box-shadow-2;
    .qr {
      fill: #fff;
    }
  }
}

.button-file {
  width: 100%;
  background-color: $color-white;
  border: 1px solid $color-blue;
  color: $color-blue;
  box-shadow: none;
  &:hover {
    color: #fff;
    border-color: $color-dark;
  }
  &:focus {
    background-color: $color-blue;
    border-color: $color-blue;
    transform: none;
    color: #fff;
    box-shadow: $box-shadow-2;
  }
}

.button-icon {
  margin-right: 20px;
}

.button-red {
  background-color: $color-red;
  box-shadow: -13px 13px 49px $color-red;
}

.button-error {
  border-color: $color-red;
  color: $color-red;
}
