@import "../../../../assets/styles/variables";

.balance-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  @include xl {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  @include md {
    flex-direction: row;
    align-items: center;
  }
  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.balance-title {
  @include xl {
    margin-bottom: 25px;
  }
  @include md {
    margin-bottom: 0;
  }
  @include xs {
    margin-bottom: 25px;
  }
}

.balance-card-number {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
}

.balance-card-number__img {
  margin-right: 35px;
  @include xl {
    margin-right: 10px;
  }
  @include xs {
    margin-right: 15px;
  }
}

.balance-btns-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  @include xl {
    justify-content: space-between;
  }
  @include md {
    justify-content: center;
  }
  @include sm {
    justify-content: space-between;
  }
  //@include xl {
  //  flex-direction: column;
  //  align-items: flex-start;
  //}
  //@include md {
  //  flex-direction: row;
  //  align-items: center;
  //}
  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.balance-btn {
  width: 240px;
  @include md-lg {
    width: 190px;
    padding: 0;
  }
  @include md {
    width: 240px;
  }
  @include xs-sm {
    width: 220px;
    padding: 0;
  }
  @include xs {
    width: 100%;
  }
  &:not(:last-child) {
    margin-right: 50px;
    @include xl {
      //margin-right: 30px;
      margin-right: 0;
      //margin-bottom: 25px;
    }
    @include md {
      margin-right: 50px;
      margin-bottom: 0;
    }
    @include sm {
      margin-right: 0;
    }
    @include xs {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
