@import "../../../../assets/styles/variables";

.my-cards__heading {
  display: flex;
  align-items: center;
  //@include xl {
  //  flex-direction: column;
  //  align-items: flex-start;
  //}
  //@include md {
  //  flex-direction: row;
  //  align-items: center;
  //}
  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.my-card-wrap {
  margin-right: 35px;
  //@include xl {
  //  align-self: center;
  //  margin-right: 0;
  //  margin-bottom: 35px;
  //}
  //@include md {
  //  align-self: flex-start;
  //  margin-right: 35px;
  //  margin-bottom: 0;
  //}
  @include xs {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

/*
.card-balance {
  padding-left: 35px;
  @include xs {
    padding-left: 0;
  }
}
*/

.card-balance__balance {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-balance__state {
  display: flex;
  align-items: center;
  margin-left: -33px;
  @include xs {
    margin-left: 0;
  }
}

.card-balance__img {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.my-cards__status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px -10px 0;
}

.my-cards__status-item {
  margin: 10px;
  @include xs {
    width: calc(50% - 20px);
  }
}

.my-cards__status-item__title {
  margin-bottom: 15px;
}

.my-cards__status-item__value {
  &.active {
    &:before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-green;
    }
  }
}

.my-cards__other-cards {
  margin-top: 25px;
}

.my-cards__other-cards-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  @include xs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &:nth-child(odd) {
    background-color: #fff;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 100px;
    }
    &:before {
      left: 0;
      transform: translateX(-100%);
    }
    &:after {
      right: 0;
      transform: translateX(100%);
    }
    .my-cards__other-cards-item__card {
      background-color: #2a96ff;
      background-image: linear-gradient(45deg, #f27d57 0%, #f32264 100%);
      box-shadow: 0 9px 24px rgba(255, 99, 99, 0.64);
    }
  }
  &:nth-child(even) {
    .my-cards__other-cards-item__card {
      background-color: #2a96ff;
      background-image: linear-gradient(45deg, #f4b639 0%, #ff8400 100%);
      box-shadow: 0 9px 24px rgba(253, 141, 11, 0.64);
    }
  }
}

.my-cards__other-cards-item__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 64px;
  margin-right: 45px;
  border-radius: 8px;
  color: #fff;
  @include xs {
    margin-right: 25px;
  }
}

.my-cards__other-cards-item__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include lg {
    flex-direction: column;
    align-items: flex-start;
  }
  @include md {
    flex-direction: row;
  }
  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.my-cards__other-cards-item__center {
  margin-right: 50px;
  @include lg {
    margin-right: 0;
    margin-bottom: 15px;
  }
  @include md {
    margin-right: 50px;
    margin-bottom: 0;
  }
  @include xs {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.my-cards__other-cards-item-title {
  margin-bottom: 10px;
}
