$color-dark: #232c40;
$color-grey: #a7a9b3;
$color-blue: #00c3ff;
$color-white: #eff4ff;
$color-green: #00e194;
$color-red: #ff4891;
$color-yellow: #e1b70b;

$box-shadow: -14px 14px 60px rgba(139, 139, 139, 0.5),
  inset 0 0 250px rgba(255, 255, 255, 0.4);
$box-shadow-2: -13px 13px 49px #43a2ff;

@mixin xxl {
  @media all and (max-width: 1530px) {
    @content;
  }
}

@mixin xl {
  @media all and (max-width: 1399px) {
    @content;
  }
}

@mixin lg {
  @media all and (max-width: 1199px) {
    @content;
  }
}

@mixin md {
  @media all and (max-width: 991px) {
    @content;
  }
}

@mixin sm {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin xs {
  @media all and (max-width: 575px) {
    @content;
  }
}

@mixin md-lg {
  @media all and (min-width: 992px) and (max-width: 1199px){
    @content;
  }
}

@mixin xs-sm {
  @media all and (min-width: 576px) and (max-width: 767px){
    @content;
  }
}
