@import "./_variables.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $color-dark;
  background-color: #f4f5f8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button.default {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

a.default {
  display: block;
  text-decoration: inherit;
  color: inherit;
}

.title {
  font-size: 60px;
  @include xl {
    font-size: 50px;
  }
  @include sm {
    font-size: 30px;
  }
}

.h1 {
  font-size: 30px;
  @include xl {
    font-size: 20px;
  }
}

.h2 {
  font-size: 20px;
  @include xl {
    font-size: 16px;
  }
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex-grow: 1;
  padding: 55px 0;
  overflow-x: hidden;
  @include sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.text-green {
  color: $color-green;
}

.text-red {
  color: $color-red;
}

.text-yellow {
  color: $color-yellow;
}

.text-grey {
  color: $color-grey;
}

.container {
  max-width: 1470px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media all and (max-width: 1530px) {
    max-width: 1340px;
  }
  @media all and (max-width: 1399px) {
    max-width: 1170px;
  }
  @media all and (max-width: 1199px) {
    max-width: 960px;
  }
  @media all and (max-width: 991px) {
    max-width: 720px;
  }
  @media all and (max-width: 767px) {
    max-width: 540px;
  }
}

.card-media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ================================= FORM ================================= */

.form-item-wrap {
  margin: 60px 0;
  @include sm {
    margin: 45px 0;
  }
}

.form-item-title {
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include md {
    flex-direction: column;
  }
}

.form-col--2,
.form-col--1 {
  flex-basis: 43.8%;
}

.form-col--3 {
  flex-basis: 30%;
}

.form-submit-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-submit-text {
  margin-bottom: 20px;
  @include xs {
    text-align: center;
  }
}

.form-submit-error-text {
  margin: 20px 0;
}

.form-submit-btn {
  @include sm {
    width: 100%;
  }
}
