@import "../../assets/styles/variables";

/* =============================== HEADER =============================== */

.c-header {
  background-color: #fff;
}

.c-header-inner {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  padding: 38px 0;
  @include xl {
    justify-content: space-between;
  }
  @include sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &--not-auth {
    @include sm {
      flex-direction: column;
    }
  }
}

.c-header__burger {
  display: none;
  @include sm {
    display: inline-block;
  }
}

.c-header__logo-wrap {
  margin-right: 80px;
  @include sm {
    margin-right: 0;
  }
  &--auth {
    @include xl {
      margin-right: 50px;
    }
    @include md {
      margin-right: 20px;
    }
  }
}

/* =============================== PROFILE =============================== */

.c-profile {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  margin-right: 90px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.7;
  }
  @include xl {
    margin-right: 0;
  }
  @include md {
    margin-right: 20px;
  }
  @include sm {
    margin-right: 0;
  }
}

.c-profile__img {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  border: 4px solid #f9f8fa;
  border-radius: 50%;
  margin-right: 25px;
  @include md {
    margin-right: 15px;
  }
  @include sm {
    margin-right: 0;
  }
  @include xs {
    min-width: auto;
    max-width: none;
    width: 30px;
    height: 30px;
    border: none;
  }
}

.c-profile__text {
  @include sm {
    display: none;
  }
}

.c-profile__text__name {
  color: #232c40;
  font-weight: bold;
}

.c-profile__text__email {
  color: #c7c9d5;
  word-break: break-word;
  @include md {
    font-size: 14px;
  }
}

/* =============================== CURRENCY =============================== */

.c-currency {
  width: 170px;
  &--auth {
    @include lg {
      display: none;
    }
  }
  &--not-auth {
    @include sm {
      display: none;
    }
  }
}

/* =============================== PANEL =============================== */

.c-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  &--auth {
    //@include xl {
      //flex-basis: 100%;
      //justify-content: center;
      //margin-top: 20px;
    //}
    @include md {
      min-width: 241px;
    }
    @include sm {
      display: none;
    }
  }
  &--not-auth {
    display: none;
    @include xs {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

.c-panel__item {
  position: relative;
  padding-left: 45px;
  @include xl {
    padding-left: 20px;
  }
  &:first-child {
    @include xl {
      padding-left: 0;
    }
  }
  &:not(:last-child) {
    padding-right: 45px;
    @include xl {
      padding-right: 20px;
    }
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: -5px;
      bottom: -5px;
      width: 2px;
      background-color: #f4f5f8;
    }
  }
}

.c-panel__item__link {
  outline: none;
  &:focus,
  &.active {
    > * {
      fill: $color-blue;
    }
  }
}
