@import "../../assets/styles/variables";

.table {
  min-width: 650px;
  width: 100%;
  border-spacing: unset;
  @include xl {
    min-width: 550px;
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: #fff;
    }
  }
}

.table-head,
.table-data {
  padding: 25px 10px;
  &:first-child {
    padding-left: 25px;
    @include xs {
      padding-left: 20px;
    }
  }
  &:last-child {
    padding-right: 25px;
    @include xs {
      padding-right: 20px;
    }
  }
}

.table-head {
  text-align: left;
  font-weight: inherit;
  cursor: pointer;

  i.fa {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-bottom: -2px;
    margin-left: 8px;
    background: url("./assets/arrow.svg") no-repeat center;
    vertical-align: middle;
    transform: rotate(180deg);
    &:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      background: url("./assets/arrow.svg") no-repeat center;
      transform: rotate(180deg);
    }
    &.fa-sort-asc,
    &.fa-sort-desc {
      margin-bottom: 4px;
      &:before {
        content: none;
      }
    }
    &.fa-sort-asc {
      transform: none;
    }
  }
  &--amount {
    @include xxl {
      width: 110px;
    }
    @include md {
      width: auto;
    }
    @include sm {
      width: 110px;
    }
  }
  &--executed_at {
    @include xl {
      width: 75px;
    }
    @include md {
      width: auto;
    }
    @include sm {
      width: 75px;
    }
  }
}

.table-data {
  color: $color-grey;
}
